@model List<ResultContactDto>

<footer id="footer" class="footer dark-background">
    <div class="container">
        @foreach(var item in Model)
        {
            var adresss = item.Address.Split(',');

            <div class="row gy-3">
            <div class="col-lg-3 col-md-6 d-flex">
                <i class="bi bi-geo-alt icon"></i>
                <div class="address">
                    <h4>Adres</h4>
                    <p>@adresss[0]</p>
                    <p>@adresss[1]</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex">
                <i class="bi bi-telephone icon"></i>
                <div>
                    <h4>İletişim</h4>
                    <p>
                        <strong>Telefon:</strong> <span>@(item.Phone)</span><br>
                        <strong>E-posta:</strong> <span>@(item.Email)</span><br>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex">
                <i class="bi bi-clock icon"></i>
                <div>
                    <h4>Çalışma Saatleri</h4>
                    <p>
                       @item.OpenHours
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <h4>Bizi Takip Edin</h4>
                <div class="social-links d-flex">
                    <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>        
        }
    </div>

    <div class="container copyright text-center mt-4">
        <p>© <span>Telif Hakkı</span> <strong class="px-1 sitename">Yummy</strong> <span>Tüm Hakları Saklıdır</span></p>
        <div class="credits">
            Tasarım: <a href="https://www.linkedin.com/in/yi%C4%9Fit%C3%B6r%C3%BCc%C3%BC-09214911a/">Muhsin Yiğit Örücü</a>
        </div>
    </div>
</footer>

<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<div id="preloader"></div>
<script src="/Yummy/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/Yummy/assets/vendor/aos/aos.js"></script>
<script src="/Yummy/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/Yummy/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/Yummy/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/Yummy/assets/js/main.js"></script>